h1 {
	text-align: center;
}
footer { text-align: center;
font-style: italic; 
	color: white;
	background-color: 00400B
}

header {
	color: white;
	background-color: 00400B
}
section{
	width: 900px;
	display: block;
	margin: 0 auto;
	font-size: 18px;
}
img{
	padding: 10 px;

}
nav{
	display: flex;
	justify-content: center;
}
ul{
	display: flex;
	text-align: center;
	list-style: none;
}
li {
	display: flex;
	padding-right: 20px;
}
img {
	 	    	display: block;
	 	    	margin: 0 auto;
              }

