* {
      text-align: center;
      font-family: Helvetica;
      margin: auto;
}

.bigimage img {
width: 750px;
height: 320px;
border-radius: 20px;
}

.structure img {
  width: 350px;
  height: 200px;
  float: left;
  border-radius: 10px;
}

.self img {
  width: 350px;
  height: 200px;
  float: right;
  border-radius: 10px;
}


html {
      height: 100%;
    }
h1 {
  font-size:30;
}

    body {
       width: 800px;
       height: 100%;
    }

    header {
        background-color: #e6e6e6;
        padding: 5px;
        margin: 25px;
        font-size: 30;
        display: block;
        border-radius: 7px;
    }
    nav {
        padding: 5px;
        margin: 20px;


    }
    nav ul {

        padding: 5;
        list-style-type: none;
    }
    nav li {
      display: inline-block;
      border: 3px solid red;
      padding: 5px;

    }
    nav li a {
        display: block;
        height: 25px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
    }
    a {
        color: red;
        font-family: Helvetica;
        text-decoration: none;

    }
    section {
        width: 73%;
        display: inline-block;
        float: left;
    }

    footer {
        width: 790px;
        background-color:;
        color:;
        clear: both;
        display: block;
    }
    img {
      padding: 5px;
      margin: 10px;
    }

    p {
      font-family: Helvetica;
      font-size:20;
      padding-top: 25;

    }

    .left {
      display: inline-block;
      float: left;
      padding-left: 70px;
    }

    .right {
      display: inline-block;
      float: right;
      padding-right: 140px;
    }

    h2 {
      padding: 20px;
    }


    footer {
      padding-top: 40px;
      padding-bottom: 10px;
    }
